{{!< default}}

<main class="home">
<div class="home-full-page">
  <section class="home-box">

    {{#if @blog.logo}}<a class="logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
    <h1 class="blog-title">{{@blog.title}}</h1>
    <div class="blog-description">{{@blog.description}}</div>
    <nav>{{navigation}}</nav>

  </section>
</div>

<div id="posts"></div>
<section class="post-list content-box">

<header>
  <h1>All posts</h1>
  <a class="btn" href="#">
    <i title="Home" class="fas fa-home fa-fw"></i>
  </a>
</header>

<ul>
  {{#foreach posts}}
  <li class="post-item">
    {{#if feature_image}}
    <div class="post-item-image" style="background-image: url({{feature_image}})">
      <a href="{{url}}" aria-hidden="true"></a>
    </div>
    {{/if}}
    <div class="post-item-text">
      <h2 class="post-item-title"><a href="{{url}}">{{title}}</a></h2>
      <div class="post-item-excerpt">{{excerpt}}</div>
    </div>
  </li>
  {{/foreach}}
</ul>

{{#if pagination}}{{{pagination}}}{{/if}}

{{> footer}}
</section>
</main>
