{{!< default}}
{{> header}}

<section class="main" role="main">
{{#foreach posts}}
<article role="article" itemscope itemtype="http://schema.org/Article">

<header class="postheader">
<h1 itemprop="headline"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
<time datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='YYYY.MM.DD'}}</time>
</header>

{{content}}
{{#if tags}}
<div class="tags">Tags: {{tags separator=" | "}}</div>
{{/if}}
</article>
{{/foreach}}
{{#if pagination}}{{{pagination}}}{{/if}}

</section>

{{> footer}}