{{!< default}}

{{#is "paged"}}

<main class="post-list content-box">

<header>
  <h1>All posts</h1>
  <a class="btn" href="/">
    <i title="Home" class="fas fa-home fa-fw"></i>
  </a>
</header>

<ul>
  {{#foreach posts}}
  <li class="post-item">
    {{#if feature_image}}
    <div class="post-item-image" style="background-image: url({{feature_image}})">
      <a href="{{url}}" aria-hidden="true"></a>
    </div>
    {{/if}}
    <div class="post-item-text">
      <h2 class="post-item-title"><a href="{{url}}">{{title}}</a></h2>
      <div class="post-item-excerpt">{{excerpt}}</div>
    </div>
  </li>
  {{/foreach}}
</ul>

{{#if pagination}}{{{pagination}}}{{/if}}

</main>

{{else}}

<main class="content-box">

{{#foreach posts}}
<article role="article" itemscope itemtype="http://schema.org/Article">

<header class="postheader">
<h1 itemprop="headline"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
<time datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='YYYY.MM.DD'}}</time>
</header>

{{content}}
{{#if tags}}
<div class="tags">Tags: {{tags separator=" | "}}</div>
{{/if}}
</article>
{{/foreach}}
{{#if pagination}}{{{pagination}}}{{/if}}

{{> footer}}

</main>

{{/is}}


