{{!< default}}

<main class="post content-box">
{{#post}}
<article itemscope itemtype="http://schema.org/Article">

<header class="post-header">
{{#if feature_image}}
  <div class="feature-image" style="background-image: url({{feature_image}})">
    <h1 itemprop="headline">{{title}}</h1>
    <time datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='DD MMMM, YYYY'}}</time>
    <div class="post-reading-time">
      <i class="far fa-clock"></i> <span></span>
    </div>
  </div>
{{else}}
  <h1 itemprop="headline">{{title}}</h1>
  <time datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='DD MMMM, YYYY'}}</time>
  <div class="post-reading-time">
    <i class="far fa-clock"></i> <span></span>
  </div>
{{/if}}
</header>

<div class="post-body" itemprop="articleBody">
  {{content}}
</div>

<hr>
<footer>

<div class="post-tags-share">

<div class="post-tags">
{{#if tags}}
<ul class="inline-list" aria-label="Tags">
{{#foreach tags}}
<li><a class="btn tag" href="{{url}}">{{name}}</a></li><!--
-->{{/foreach}}
</ul>
{{/if}}
</div>

<div class="post-share">
<ul class="inline-list" aria-label="Share">
  <li><a class="btn social" target="_blank" href="http://twitter.com/share?text={{title}}&amp;url={{url absolute="true"}}" title="Share on Twitter">
    <i title="Share on Twitter" class="fab fa-twitter"></i>
  </a></li><!--
  --><li><a class="btn social" id="facebook-share" title="Share on Facebook">
    <i title="Share on Facebook" class="fab fa-facebook"></i>
  </a></li><!--
  --><li><a class="btn social" target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}" title="Share on Google+">
    <i title="Share on Google+" class="fab fa-google-plus"></i>
  </a></li>
</ul>
</div>

<!-- Facebook share -->
<script>
document.getElementById('facebook-share').onclick = function() {
  FB.ui({
    method: 'share',
    display: 'popup',
    href: '{{url absolute="true"}}',
  }, function(response){});
}
</script>

</div>

<!--
{{#if author}}
<address class="post-author-info" itemprop="author" itemscope itemtype="http://schema.org/Person">
  {{#if author.profile_image}}<img class="post-author-image" src="{{author.profile_image}}" itemprop="image" alt="{{author.name}}" />{{/if}}
  <div class="post-author-text">
    <div class="post-author-name">{{author.name}}</div>
    {{#if author.website}}<div class="post-author-website">Website: <a href="{{author.website}}" itemprop="url">{{author.website}}</a></div>{{/if}}
    {{#if author.bio}}<div class="post-author-bio" itemprop="description">{{author.bio}}</div>{{/if}}
  </div>
</address>
{{/if}}
-->

</footer>
</article>
{{/post}}

{{> footer}}
</main>

<script src="{{asset 'js/reading-time-estimation.js'}}"></script>
